# Server Configuration
PORT=4000

NODE_ENV="development"
# MODE="platform"

# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=root
POSTGRES_DB=resq_db
DATABASE_URL=postgresql://root:admin123@localhost:5433/resqconnect

CONTROL_PANE_URL=http://localhost:4080

# JWT and OTP Configuration
JWT_SECRET=my_jwt_secret
JWT_EXPIRY=3600
JWT_RESTRICTED_EXPIRY=3600

OTP_SECRET=my_otp_secret

TWILIO_AUTH_TOKEN=token
TWILIO_ACCOUNT_SID=sid


# Email Configuration
# GOOGLE_MAIL=main
# GOOGLE_PASS=app pass

RESEND_API_KEY=resend
FROM_EMAIL=fromemail

#MAPBOX
MAPBOX_ACCESS_TOKEN=mapbox

TO_NUMBER=to_number_SMS

# Cloudinary Configuration (for profile picture uploads)
CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=secret

# Khalti Payment Configuration (Sandbox)
KHALTI_SECRET_KEY=sandbox
KHALTI_BASE_URL=https://dev.khalti.com/api/v2
KHALTI_RETURN_URL=http://localhost:4000/api/v1/payments/callback
KHALTI_WEBSITE_URL=http://localhost:3000

SMS_URI=api-gate
SMS_USERNAME=username
SMS_PASSWORD=passowrd
SMS_DEVICE_ID=something

BACKEND_BASE_PATH=base_path_backend

INTERNAL_API_KEY=something
PLATFORM_BASE_URL=http://localhost:4001

