# Server Configuration
PORT=4000

# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=root
POSTGRES_DB=resq_db
DATABASE_URL=postgresql://admin:root@localhost:5432/resq_db

# JWT and OTP Configuration
JWT_SECRET=my_jwt_secret
JWT_EXPIRY=3600

OTP_SECRET=my_otp_secret
TWILIO_AUTH_TOKEN=my_twilio_auth_token
TWILIO_ACCOUNT_SID=my_twilio_account_sid

# Maps configuration
GALLI_MAPS_TOKEN=my_galli_maps_token

# Email Configuration
GOOGLE_MAIL=my_google_mail
GOOGLE_PASS=my_google_pass

# Mapbox
MAPBOX_ACCESS_TOKEN=okputyouraccesstokenhere

MAILTRAP_USER=my_mailtrap_user
MAILTRAP_PASS=my_mailtrap_pass

# Khalti Payment Configuration
KHALTI_SECRET_KEY=test_secret_key_xxxxxxxxxxxx
KHALTI_BASE_URL=https://dev.khalti.com/api/v2
KHALTI_RETURN_URL=http://localhost:4000/api/v1/payments/callback
KHALTI_WEBSITE_URL=http://localhost:3000

