# Copy to `silo.env` and fill.

ALLOWED_ORIGINS=*
JWT_SECRET=replace_me
JWT_EXPIRY=3600
JWT_RESTRICTED_EXPIRY=900
OTP_SECRET=replace_me

TWILIO_ACCOUNT_SID=replace_me
TWILIO_AUTH_TOKEN=replace_me
TWILIO_FROM_NUMBER=

GALLI_MAPS_TOKEN=replace_me
MAILTRAP_USER=replace_me
MAILTRAP_PASS=replace_me
MAPBOX_ACCESS_TOKEN=replace_me
GOOGLE_MAIL=replace_me
GOOGLE_PASS=replace_me
TO_NUMBER=replace_me

KHALTI_SECRET_KEY=replace_me
KHALTI_BASE_URL=https://dev.khalti.com/api/v2
KHALTI_RETURN_URL=http://localhost:7403/api/v1/payments/callback
KHALTI_WEBSITE_URL=http://localhost:3000

SMS_URI=replace_me
SMS_USERNAME=replace_me
SMS_PASSWORD=replace_me

BACKEND_BASE=http://localhost:7403
