# Server Configuration
PORT=4080
DEV_IP=0.0.0.0

NODE_ENV="development"
ALLOWED_ORIGINS=http://localhost:3001,http://localhost:3002

# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=root
POSTGRES_DB=resq_db
DATABASE_URL=postgresql://root:admin123@localhost:5550/resq_control_plane

# JWT and OTP Configuration
JWT_SECRET=my_jwt_secret
JWT_EXPIRY=3600

# Control plane admin (seeded at boot)
CONTROL_PLANE_ADMIN_EMAIL=seed_email
CONTROL_PLANE_ADMIN_PASSWORD=seed_pass

OTP_SECRET=my_otp_secret

#MAPBOX
MAPBOX_ACCESS_TOKEN=

# Cloudinary Configuration (for profile picture uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Khalti Payment Configuration (Sandbox)
KHALTI_SECRET_KEY=key
KHALTI_BASE_URL=https://dev.khalti.com/api/v2
KHALTI_RETURN_URL=http://localhost:4000/api/v1/payments/callback
KHALTI_WEBSITE_URL=http://localhost:3000

# this should be same as in org
INTERNAL_API_KEY=something
